<form action="payment/results">
  <label for="hippo">APR</label>
  <input id="hippo" type="text" name="users_apr">

  <label for="zebra">Number of years</label>
  <input id="zebra" type="text" name="users_years">

  <label for="giraffe">Principal</label>
  <input id="giraffe" type="text" name="users_principal">

  <button>Calculate monthly payment</button>
</form>

